<% extends 'web/layouts/layout.html' %>

<% block content %>

<section data-ng-controller="AttemptQuizController" data-ng-init="find()">
    <section class="content-header text-center">
        <h1>Đề thi: <$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        
                        <div class="col-sm-6">
                            <div><strong>Họ tên: </strong> <$ user.name $></div>

                            <div><strong>Email: </strong> <$ user.email $></div>

                            <div><strong>Phone: </strong> <$ user.phone $></div>
                        </div>

                        <div class="col-sm-6">

                            <div><strong>Ngày sinh: </strong> <$ '1-1-1995' $></div>

                            <div><strong>Môn học: </strong> <span ng-bind="quiz.subject_id.name"></span></div>

                            <div><strong>Ngày thi: </strong> <span ng-bind="quiz.estimated_time | date:'short'"></span></div>

                        </div>
                        
                         
                    </div>


                    
                    <div class="box-body" data-ng-repeat="(key_question,question) in quiz.question_ids">
                        <p>Câu hỏi <span ng-bind="key_question+1"></span>: </p>
                        <h3 ng-bind="question.name"></h3>
                        <ol style="list-style-type:upper-alpha;">
                            <label style="display: block;" data-ng-repeat="(key_option, option) in question.options">
                                <div>
                                    <input id="option" type="radio" name="option">
                                    <span for="option" ng-bind="option.name"></span>
                                    <input type="hidden" ng-model="options.name" value="{{option._id}}">
                                </div>
                            </label>
                        </ol>
                        <input type="hidden" ng-model="questions.name" value="{{question._id}}">
  					</div>
                    





                    <!-- <div class="box-body">
                        <h4>Chọn câu trả lời: </h4>
                        <a class="btn bg-olive btn-flat margin"> A </a>
                        <a class="btn bg-olive btn-flat margin"> B </a>
                        <a class="btn bg-orange btn-flat margin"> C </a>
                        <a class="btn bg-olive btn-flat margin"> D </a>
                    </div> -->
                    <div class="box-footer">
                        <!-- <a class="btn btn-info btn-flat">Câu trước</a>
                        <a class="btn btn-primary btn-flat">Câu tiếp theo</a> -->
                        <a style="" data-ng-click="submitQuiz()" class="btn btn-success btn-flat pull-right">Nộp bài</a>
  					</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="box box-header">
                    <div class="box-header with-border">
                        <h3>Thông tin bài thi</h3>
                    </div>
                    <div class="box-body">
                        <p>Thời gian còn lại: 10:10</p>
                        <p>Đã làm: 8/15</p>
                    </div>
                    <div class="box-footer">
                        <p>Điểm: 10</p>
                        <p>Kết quả: Đạt</p>
                    </div>
                </div>
                <!-- <div class="box box-header">
                    <div class="box-header with-border">
                        <h3>Bảng câu hỏi</h3>
                    </div>
                    <div class="box-body">
                        
                        <a data-ng-repeat="(key,question) in questions" type="button" class="btn bg-orange btn-flat margin" ng-bind="key+1"></a>
                         
                    </div>
                    <div class="box-footer">
                        <p><a class="btn bg-navy btn-flat margin"></a>Đã trả lời</p>
                        <p><a class="btn bg-olive btn-flat margin"></a>Chưa trả lời</p>
                        <p><a class="btn bg-orange btn-flat margin"></a>Chưa chọn</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</section>

<% endblock %>