<% extends 'web/layouts/layout.html' %>

<% block content %>

<section data-ng-controller="QuizController">
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><$ meta.action $></h3>
                    </div>
                    <form method="POST" name="editForm" action="/<$ meta.context $>/<$ quiz._id $>/edit" novalidate>
                        <div class="box-body">
                            
                            <div class="form-group">
                                <label class="control-label" for="group_id">Áp dụng cho nhóm</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="group_id" name="group_id" id="group_id" required >
                                    <option value="">-- Nhóm --</option>
                                        <option data-ng-repeat="item in groupLists" value="{{item._id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="subject_id">Môn học</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="subject_id" name="subject_id" id="subject_id" required >
                                    <option value="">-- môn học --</option>
                                        <option data-ng-repeat="item in subjectLists" value="{{item._id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
			               <div class="form-group">
			                 <label class="control-label" for="name">Tên đề thi</label>
			                <div class="controls">
			                    <input type="text" name="name" value="<$ quiz.name $>" id="name" class="form-control" placeholder="Tên đề thi">
			                 </div>
			                              
			               </div>
			              
			               <div class="form-group">
			                 <label class="control-label" for="desc">Mô tả</label>
			                <div class="controls">
			                    <textarea class="form-control ck-editor" name="description" rows="3"><$ quiz.description $></textarea>
			                 </div>
			                              
			               </div>
			              
			               <div class="form-group">
                             <label class="control-label" for="duration">Thời gian làm bài</label>
                            <div class="controls">
                                <input type="text" data-ng-model="quiz.duration" id="duration" class="form-control" value="<$ quiz.duration $>" placeholder="Thời gian làm bài">
                             </div>
                                          
                           </div>
                          
                           <div class="form-group">
                             <label class="control-label" for="maximum_attempts">Số lượng thi sinh tham gia tối đa</label>
                            <div class="controls">
                                <input type="text" data-ng-model="quiz.maximum_attempts" id="maximum_attempts" value="<$ quiz.maximum_attempts $>" class="form-control" placeholder="Số lượng thi sinh tham gia tối đa">
                             </div>
                                          
                           </div>
                          
                           <div class="form-group">
                             <label class="control-label" for="pass_percentage">Tỷ lệ phần trăm để vượt qua</label>
                            <div class="controls">
                                <input type="text" data-ng-model="quiz.pass_percentage" id="pass_percentage" value="<$ quiz.pass_percentage $>" class="form-control" placeholder="Tỷ lệ phần trăm để vượt qua">
                             </div>
                                          
                           </div>
                          
                           <div class="form-group">
                             <label class="control-label" for="view_answer">View answer</label>
                            <div class="controls">
                                <input type="text" data-ng-model="quiz.view_answer" id="view_answer" class="form-control" value="<$ quiz.view_answer $>" placeholder="View answer">
                             </div>
                                          
                           </div>
                          
                           <div class="form-group">
                             <label class="control-label" for="with_login">With login</label>
                            <div class="controls">
                                <input type="text" data-ng-model="quiz.with_login" id="with_login" class="form-control" value="<$ quiz.with_login $>" placeholder="With login">
                             </div>
                                          
                           </div>
              
              
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
	                            <input type="submit" class="btn btn-primary" value="Thêm mới">
                                <a href="/quizzes" class="btn btn-default">Thoát</a>
                            </div>
                            <!-- <div class="alert alert-danger alert-dismissable" data-ng-show="error">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <div data-ng-bind="error"></div>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>


<% endblock %>