<% extends 'web/layouts/layout.html' %>

<% block content %>

<section>
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            
            <% asyncEach quiz in items %>
            <div class="col-md-6">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                  <h3 class="widget-user-username"><$ quiz.name $></h3>
                  <h5 class="widget-user-desc"><$ quiz.user_id.name $> / <$ quiz.subject_id.name $></h5>
                </div>
                <div class="widget-user-image">
                  <span class="info-box-icon bg-aqua"><a href="/quiz/<$ quiz._id $>/attempt"><i class="fa fa-hand-pointer-o"></i></a></span>
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header"><$ quiz.duration $></h5>
                        <span class="description-text">Thời gian làm bài</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header"><$ quiz.duration $></h5>
                        <span class="description-text">Sinh viên đã đăng ký</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header"><$ quiz.number_of_question $></h5>
                        <span class="description-text">Số lượng câu hỏi</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>
                <!-- /.row -->
                </div>
                <div class="box-header">
                  <h2 class="text-red text-center"><$ quiz.estimated_time $></h2>
                </div>
                <div class="box-footer text-center">
                  <p>
                    <a href="/quiz/<$ quiz._id $>/view" class="btn btn-lg btn-default btn-flat">Chi tiết</a>
                    <a href="/quiz/<$ quiz._id $>/attempt" class="btn bg-olive btn-flat margin btn-lg">Tham gia</a>
                  </p>
                </div>
              </div>
            <!-- /.widget-user -->
            </div>
            <% endeach %>
        </div>
    </section>
</section>

<% endblock %>