<% extends 'web/layouts/layout.html' %>

<% block content %>

<section data-ng-controller="AnwserByTeacherController" data-ng-init="find()">
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><$ meta.action $></h3>
                        <div class="pull-right">
                            <!-- <a class="btn btn-block btn-primary" href="/<$ meta.context $>/add">New</a> -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-inline filter-layout">
                                        <div class="form-group">
                                            <label class="control-label" for="quiz_id">Ten ky thi</label>
                                            <select ng-change="filter()" class="form-control" data-ng-model="search.quiz_id" id="quiz_id" ng-options="subject._id as subject.name for subject in subjectLists.items">
                                                    <option value="">tất cả ky thi</option>
                                                </select>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label class="control-label" for="subject_id">Môn học</label>
                                            <select ng-change="filter()" class="form-control" data-ng-model="search.subject_id" id="subject_id" ng-options="subject._id as subject.name for subject in subjectLists.items">
                                                    <option value="">tất cả môn học</option>
                                                </select>
                                        </div> -->
                                        <div class="form-group filter-submit">
                                            <a class="btn btn-primary" ng-click="filter()">Filter</a> &nbsp;&nbsp;
                                            <a class="btn btn-primary" ng-click="reset()">Reset</a>
                                        </div>
                                        <hr/>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>
                            <h4><b>Summary</b></h4>
                            <p><b>Items Per Page</b>: <span ng-bind="itemsPerPage"></span></p>
                            <p><b>Total Page</b>: <span ng-bind="totalPage"></span></p>
                            <p><b>Total Items</b>: <span ng-bind="totalItems"></span></p>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <!-- <th>ID</th> -->
                                    
                                    <th>Tên môn học</th>
                                    
                                    <th>Tên kỳ thi</th>
                                    
                                    <!-- <th>User Id</th> -->
                                    
                                    <!-- <th>Slug</th> -->
                                    
                                    <!-- <th>Status</th> -->
                                    
                                    <th>Xem bài thi</th>
                                    
                                    <th>Created</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="anwser in anwsers">
                                    <!-- <td><a href="anwser/{{anwser._id}}/view">{{anwser._id}}</a></td> -->
                                    
                                    
                                    <td><a href="anwser/{{anwser._id}}/view">Ten mon hoc</a></td>


                                    <td><a href="anwser/{{anwser._id}}/view" ng-bind="anwser.quiz_id.name"></a></td>
                                    
                                    
                                    
                                    <td><span class="label label-info">Xem bai thi</span></td>
                                    
                                    
                                    
                                    <!-- <td>{{anwser.user_id}}</td> -->
                                    
                                    
                                    
                                    <!-- <td>{{anwser.slug}}</td> -->
                                    
                                    
                                        
                                    <!-- <td>{{anwser.status}}</td> -->
                                    
                                    <td ng-bind="anwser.created | date:'short'"></td>
                                    
                                      
                                    <td>
                                        <a href="anwser/{{anwser._id}}/edit" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> &nbsp; &nbsp;
                                        <a href="anwser/{{anwser._id}}/view" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <bz-pagination max-page="10" name="post_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged">
                        </bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
       <!--  <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!anwsers.$resolved || anwsers.length">>
                    There is no item found, why don't you <a href="answer/create">create one</a>?
                </div>
            </div>
        </div> -->
    </section>
</section>

<% endblock %>