<% extends 'web/layouts/layout.html' %>

<% block content %>

	<section>
	    <section class="content-header">
		    <h1>Danh sách đề thi có sẵn</h1>
	    </section>
	    <!-- Main content -->
	    <section class="content">
	        <div class="row">

				<% asyncEach quiz in quizzes %>
				<div class="col-md-4">
					<!-- Widget: user widget style 1 -->
					<div class="box box-widget widget-user">
						<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="widget-user-header bg-aqua-active">
							<h3 class="widget-user-username"><$ quiz.name $></h3>
							<h5 class="widget-user-desc"><$ quiz.subject_id.name $> / <$ quiz.user_id.name $></h5>
						</div>
						<div class="widget-user-image">
							<span class="info-box-icon bg-aqua"><a href="/quiz/<$ quiz._id $>/attempt"><i class="fa fa-hand-pointer-o"></i></a></span>
						</div>
						<div class="box-footer">
							<div class="row">
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header"><$ quiz.duration $></h5>
										<span class="description-text">Thời gian làm bài</span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header"><$ 11 $></h5>
										<span class="description-text">Sinh viên đã đăng ký</span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4">
									<div class="description-block">
										<h5 class="description-header"><$ quiz.number_of_question $></h5>
										<span class="description-text">Số lượng câu hỏi</span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
							</div>
						<!-- /.row -->
						</div>
						<div class="box-body">
							<h2 class="text-green text-center"><$ quiz.estimated_time $></h2>
						</div>
					</div>
				<!-- /.widget-user -->
				</div>
				<% endeach %>

	        </div>
	    </section>
	</section>


<% endblock %>

<% block jsInline %>
    <script>
       console.log('BZ CMS');
    </script>
<% endblock %>
