<% extends 'web/layouts/layout.html' %>

<% block content %>

	<section data-ng-controller="HomeController">
	    <section class="content-header">
	        <h1>Bảng điều khiển</h1>
	    </section>
	    <!-- Main content -->
	    <section class="content">

			<% if scope === 'teacher' %>
	        <div class="row" data-ng-controller="TeacherController">
	            <div class="col-md-3 col-xs-6">
	                <!-- small box -->
	                <div class="small-box bg-aqua">
	                    <div class="inner">
							<h3 data-ng-bind="totalQuiz"></h3>
	                        <p>Tổng số đề thi có sẵn</p>
	                    </div>
	                    <div class="icon">
	                        <i class="ion ion-person-add"></i>
	                    </div>
	                    <a href="/quizzes" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
	                </div>
	            </div>
	            <!-- ./col -->
	            <div class="col-md-3 col-xs-6">
	                <!-- small box -->
	                <div class="small-box bg-red">
	                    <div class="inner">
							<h3 data-ng-bind="totalSubject"></h3>
	                        <p>Tổng số môn học sẵn có </p>
	                    </div>
	                    <div class="icon">
	                        <i class="ion ion-pie-graph"></i>
	                    </div>
	                    <a href="/subjects" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
	                </div>
	            </div>
	            <!-- ./col -->
	            <div class="col-md-3 col-xs-6">
	                <!-- small box -->
	                <div class="small-box bg-yellow">
	                    <div class="inner">
							<h3 data-ng-bind="totalQuestion"></h3>
	                        <p>Tổng số câu hỏi sẵn có</p>
	                    </div>
	                    <div class="icon">
	                        <i class="ion ion-pie-graph"></i>
	                    </div>
	                    <a href="/questions" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
	                </div>
	            </div>
	        </div>
			<% elseif scope === 'student' %>
			<h2 class="page-header">Danh sách môn học</h2>
	        <div class="row" data-ng-controller="StudentController">
				<div data-ng-repeat="item in listSubjects.items" class="col-md-6 col-sm-12">
		          <!-- Widget: user widget style 1 -->
		          <div class="box box-widget widget-user-2">
		            <!-- Add the bg color to the header using any of the bg-* classes -->
		            <div class="widget-user-header bg-aqua">
		              <h3 class="widget-user-username" data-ng-bind="item.name"></h3>
		              <h5 class="widget-user-desc" data-ng-bind="item.user_id[0].name"></h5>
		            </div>
		            <div class="box-footer no-padding">
		              <ul class="nav nav-stacked">

		                <li data-ng-repeat="quiz in listQuizzes.items" ng-show="quiz.subject_id == item._id">
	                		<span class="text" data-ng-bind="quiz.name"></span>
		                	<div class="pull-right">
		                		<a href="/quiz/{{quiz._id}}/view"><small class="label label-default"><i class="fa fa-info"></i> Chi tiết</small></a>
		                		<a href="/quiz/{{quiz._id}}/attempt"><small class="label label-success"><i class="fa fa-pencil"></i> Tham gia</small></a>
		                	</div>
	            		</li>
		              </ul>
		            </div>
		          </div>
		          <!-- /.widget-user -->
		        </div>
				
		        <div class="col-md-12">
					<h2 class="page-header">Nhập key môn học</h2>
		        	<div class="input-group input-group-lg">
	                	<input type="text" name="key" data-ng-model="key" class="form-control" placeholder="Nhập key môn học">
	                    <span class="input-group-btn">
	                      <button ng-disabled="!key" data-ng-click="joinSubject()" class="btn btn-info btn-flat">Tham gia</button>
	                    </span>
	                    
	              	</div>
		        </div>
		    </div>
			<% endif %>
	    </section>
	</section>


<% endblock %>

<% block jsInline %>
    <script>
       console.log('BZ CMS');
    </script>
<% endblock %>
