<% extends 'web/layouts/layout.html' %>

<% block content %>

<section data-ng-controller="SubjectByTeacherController" ng-init="find()">
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
	                    <h3 class="box-title"><$ meta.action $></h3>
                        <div class="pull-right">
                            <a class="btn btn-block btn-primary" href="/<$ meta.context $>/add">Thêm mới</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-inline filter-layout">
                                        <div class="form-group">
                                            <label class="control-label" for="keyword">Từ khóa</label>
                                            <input type="text" ng-change="filter()" name="keyword" data-ng-model="search.keyword" id="keyword" class="form-control" placeholder="Từ khóa" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="key">Mã môn học</label>
                                            
                                            <input type="text" ng-change="filter()" name="key" data-ng-model="search.key" id="key" class="form-control" placeholder="mã môn học" />
                                        </div>
                                        <hr/>
                                        <div class="form-group filter-submit">
                                            <a class="btn btn-primary" ng-click="filter()">Filter</a> &nbsp;&nbsp;
                                            <a class="btn btn-primary" ng-click="reset()">Reset</a>
                                        </div>
                                        <hr/>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>
                            <h4><b>Summary</b></h4>
                            <p><b>Items Per Page</b>: <span ng-bind="itemsPerPage"></span></p>
                            <p><b>Total Page</b>: <span ng-bind="totalPage"></span></p>
                            <p><b>Total Items</b>: <span ng-bind="totalItems"></span></p>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    
                                    <th>Tên môn học</th>
                                    
                                    <th>Mã môn học</th>
                                    
                                    <!-- <th>User Id</th> -->
                                    
                                    <!-- <th>Slug</th> -->
                                    
                                    <!-- <th>Status</th> -->
                                    
                                    <th>Ngày tạo</th>
                                    
                                    <th>Ngày sửa</th>
                                    
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="subject in subjects">
                                    <td><a href="subject/{{subject._id}}/view" ng-bind="subject.name"></a></td>
                                    
                                    
                                    
                                    <td><span class="label label-info" ng-bind="subject.key"></span></td>
                                    
                                    
                                    
                                    <!-- <td>{{subject.user_id}}</td> -->
                                    
                                    
                                    
                                    <!-- <td>{{subject.slug}}</td> -->
                                    
                                    
                                        
                                    <!-- <td>{{subject.status}}</td> -->
                                    
                                    <td ng-bind="subject.created | date:'short'"></td>
                                    
                                    
                                    
                                    <td ng-bind="subject.modified | date:'short'"></td>
                                    
                                      
                                    <td>
                                        <a href="subject/{{subject._id}}/edit" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> &nbsp; &nbsp;
                                        <a href="subject/{{subject._id}}/view" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <bz-pagination max-page="10" name="post_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged">
                        </bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center hide" data-ng-hide="!subjects.$resolved || subjects.length">
                    There is no item found, why don't you <a href="subject/create">create one</a>?
                </div>
            </div>
        </div>
    </section>
    <!-- Popup Confirm-->
    <div data-ng-include="'/templates/web-core/popupConfirm.html'">
    </div>
</section>

<% endblock %>

<div id="preview-area">' +
    '<div class="mfp-bg bzFromTop mfp-ready"></div>' +
    '<div class="sk-cube-grid">' +
    '<div class="sk-cube sk-cube1"></div>' +
    '<div class="sk-cube sk-cube2"></div>' +
    '<div class="sk-cube sk-cube3"></div>' +
    '<div class="sk-cube sk-cube4"></div>' +
    '<div class="sk-cube sk-cube5"></div>' +
    '<div class="sk-cube sk-cube6"></div>' +
    '<div class="sk-cube sk-cube7"></div>' +
    '<div class="sk-cube sk-cube8"></div>' +
    '<div class="sk-cube sk-cube9"></div>' +
'</div>