<% extends 'web/layouts/layout.html' %>

<% block content %>
<section ng-controller="QuestionsController">
	<section class="content-header">
	    <h1><$ meta.controller $></h1>
	</section>
	<!-- Main content -->
	<section class="content">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="box box-primary">
	                <div class="box-header with-border">
	                    <h3 class="box-title"><$ meta.action $></h3>
	                </div>
	                <form name="addForm" novalidate>
 
	                	<div class="box-header with-border">
	                        <div class="col-md-3 col-xs-6">
								<div class="form-group">
									<label class="control-label" for="subject_id">Chọn môn học</label>
									<div class="controls">
										<select class="form-control" data-ng-change="getChapter()" data-ng-model="question.subject_id" name="subject_id" id="subject_id" required >
											<option value="">-- môn học --</option>
											<option data-ng-repeat="item in subjectList" value="{{item._id}}">{{item.name}}</option>
										</select>
									</div>
								</div>
							</div>

	                        <div class="col-md-3 col-xs-6">
								<div class="form-group">
									<label class="control-label" for="chapter_id">Chương danh mục</label>
									<div class="controls">
										<select class="form-control" data-ng-model="question.chapter_id" name="chapter_id" id="chapter_id" required >
										<option value="">-- danh mục --</option>
											<option data-ng-repeat="item in chapterList" value="{{item._id}}">{{item.name}}</option>
										</select>
									</div>
								</div>
							</div>
	                        <div class="col-md-3 col-xs-6">
								<div class="form-group">
									<label class="control-label" for="question_type">Loại câu hỏi</label>
									<div class="controls">
										<select class="form-control" data-ng-model="question.question_type" name="question_type" id="question_type" required >
											<option value="">-- loại câu hỏi --</option>
											<option data-ng-repeat="item in typeQuestions" value="{{item.value}}">{{item.name}}</option>
										</select>
									</div>
									
								</div>
							</div>

	                        <div class="col-md-3 col-xs-6">
								<div class="form-group">
									<label class="control-label" for="level">Mức độ câu hỏi</label>
									<div class="controls">
										<select class="form-control" data-ng-model="question.level" name="level" id="level" required >
											<option value="">-- mức độ câu hỏi --</option>
											<option data-ng-repeat="item in levels" value="{{item.value}}">{{item.name}}</option>
										</select>
									</div>
									
								</div>
							</div>
	                	</div>
	                    <div class="box-body ">
	        				<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label" for="name">Tên câu hỏi</label>
									<div class="controls">
										<input type="text" data-ng-model="question.name" name="name" id="name" class="form-control" placeholder="Tên câu hỏi">
									</div>
												
								</div>
								
								<div class="form-group">
									<label class="control-label" for="desc">Mô tả câu hỏi</label>
									<div class="controls">
										<textarea class="form-control ck-editor" data-ng-model="question.desc" name="desc" rows="3"> </textarea>
									</div>
												
								</div>

								<div class="form-group">
									<label class="control-label" for="name">Đáp án 1</label>
									<div class="controls">
										<textarea class="form-control ck-editor" data-ng-model="options.name1" name="option1" rows="3"> </textarea>
									</div>
									<div class="checkbox">
										<label>
											<input name="score" data-ng-model="options.score1" ng-value="1" type="radio" >
											Đáp án đúng
										</label>
									</div>
												
								</div>

								<div class="form-group">
									<label class="control-label" for="name">Đáp án 2</label>
									<div class="controls">
										<textarea class="form-control ck-editor" data-ng-model="options.name2" name="option2" rows="3"> </textarea>
									</div>
									<div class="checkbox">
										<label>
											<input name="score" data-ng-model="options.score2"  ng-value="1" type="radio" >
											Đáp án đúng
										</label>
									</div>
												
								</div>

								<div class="form-group">
									<label class="control-label" for="name">Đáp án 3</label>
									<div class="controls">
										<textarea class="form-control ck-editor" data-ng-model="options.name3" name="option3" rows="3"> </textarea>
									</div>
									<div class="checkbox">
										<label>
											<input name="score" data-ng-model="options.score3" ng-value="1" type="radio" >
											Đáp án đúng
										</label>
									</div>
												
								</div>

								<div class="form-group">
									<label class="control-label" for="name">Đáp án 4</label>
									<div class="controls">
										<textarea class="form-control ck-editor" data-ng-model="options.name4" name="option4" rows="3"> </textarea>
									</div>
									<div class="checkbox">
										<label>
											<input name="score" data-ng-model="options.score4" ng-value="1" type="radio" >
											Đáp án đúng
										</label>
									</div>
												
								</div>
	        				</div>
	                    </div>

	                    <div class="box-footer">
	                        <div class="form-group">
	                            <input type="submit" data-ng-click="create()" value="Thêm mới" class="btn btn-primary">
	                            <a href="/questions" class="btn btn-default">Thoát</a>
								
								<div class="pull-right">
									<a class="btn btn-success" href="/<$ meta.context $>/import">Nhập câu hỏi...</a>
								</div>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</section>
</section>

<% endblock %>