<% extends 'web/layouts/layout.html' %>

<% block content %>
<section data-ng-controller="QuestionsController">
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><$ meta.action $></h3>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="/<$ meta.context $>/add">Thêm mới</a>
                            <a class="btn btn-success" href="/<$ meta.context $>/import">Import...</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" name="query" class="form-control input-sm pull-right" placeholder="Search" />
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    
                                    <th>Tên câu hỏi</th>
                                    
                                    <!-- <th>Description</th> -->

                                    <th>Môn học</th>

                                    <th>Danh mục</th>


                                    <th>Loại câu hỏi</th>


                                    <th>Mức độ</th>
                                    
                                    <!-- <th>User Id</th> -->
                                    
                                    <!-- <th>Slug</th> -->
                                    
                                    <!-- <th>Status</th> -->
                                    
                                    <th>Created</th>
                                    
                                    <th>Modified</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% asyncEach item in items %>
                                <tr>
                                    <td><a href="question/<$ item._id $>/view"><$ item._id $></a></td>
                                    
                                    
                                    <td><a href="question/<$ item._id $>/view"><$ item.name $></a></td>
                                    
                                    
                                    
                                    <!-- <td><$ item.desc $></td> -->
                                    
                                    

                                    <th><$ item.subject_id.name $></th>

                                    <th><$ item.chapter_id.name $></th>


                                    <% if item.question_type === 1 %>
                                    <td><span class="label label-info">Nhiều lựa chọn một đáp án</span></td>
                                    <% elseif item.question_type === 2 %>
                                    <td><span class="label label-primary">Nhiều lựa chọn nhiều đáp án</span></td>
                                    <% elseif item.question_type === 3 %>
                                    <td><span class="label label-success">Ghép hợp</span></td>
                                    <% else %>
                                    <td><span class="label label-danger">Điền vào chỗ trống</span></td>
                                    <% endif %>
                                    

                                    <% if item.level === 1 %>
                                    <td><span class="label label-info">Dễ</span></td>
                                    <% elseif item.level === 2 %>
                                    <td><span class="label label-primary">Trung bình</span></td>
                                    <% elseif item.level === 3 %>
                                    <td><span class="label label-success">Khó</span></td>
                                    <% else %>
                                    <td><span class="label label-danger">Rất khó</span></td>
                                    <% endif %>
                                    
                                    
                                    
                                    <!-- <td><$ slug $></td> -->
                                    
                                    
                                        
                                    <!-- <td><$ status $></td> -->
                                    
                                    
                                    
                                    <td><$ item.created $></td>
                                    
                                    
                                    
                                    <td><$ item.modified $></td>
                                    
                                      
                                    <td>
                                        <a href="question/<$ item._id $>/edit" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> &nbsp; &nbsp;
                                        <a href="question/<$ item._id $>/view" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            <% endeach %> 
                            </tbody>
                        </table>

                        <bz-pagination max-page="10" name="post_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged">
                        </bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <%  if not items %>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center">
                    There is no item found, why don't you <a href="question/add">create one</a>?
                </div>
            </div>
        </div>
        <% endif %>
    </section>
</section>

<% endblock %>