<% extends 'web/layouts/layout.html' %>

<% block content %>

<section data-ng-controller="QuestionsController">
    <section class="content-header">
        <h1><$ meta.controller $></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-4">
                            <h3><$ question.name $></h3>
                        
                            <div><strong>Tên câu hỏi: </strong> <$ question.name $></div>

                            <!-- <div><strong>Desc: </strong> <$ question.desc $></div> -->
<!-- 
                            <div><strong>Slug: </strong> <$ question.slug $></div> -->

                            <!-- <div><strong>Status: </strong> <$ question.status $></div> -->

                            <div><strong>Môn học: </strong> <$ question.subject_id.name $></div>

                            <div><strong>Danh mục: </strong> <$ question.chapter_id.name $></div>

                            <div><strong>Created: </strong> <$ question.created $></div>

                            <div><strong>Modified: </strong> <$ question.modified $></div>
                        </div>
						
                        <div class="col-md-4">
                            
                            <h3>&nbsp</h3>
                            <% if question.question_type === 1 %>
                            <div><strong>Loại câu hỏi: </strong> Nhiều lựa chọn một đáp án</div>
                            <% elseif question.question_type === 2 %>
                            <div><strong>Loại câu hỏi: </strong> Nhiều lựa chọn nhiều đáp án</div>
                            <% elseif question.question_type === 3 %>
                            <div><strong>Loại câu hỏi: </strong> Ghép hợp</div>
                            <% else %>
                            <div><strong>Loại câu hỏi: </strong> Điền vào chỗ trống</div>
                            <% endif %>

                            <% if question.level === 1 %>
                            <div><strong>Mức độ câu hỏi: </strong>Dễ</div>
                            <% elseif question.level === 2 %>
                            <div><strong>Mức độ câu hỏi: </strong>Trung bình</div>
                            <% elseif question.level === 3 %>
                            <div><strong>Mức độ câu hỏi: </strong>Khó</div>
                            <% else %>
                            <div><strong>Mức độ câu hỏi: </strong>Rất khó</div>
                            <% endif %>
                            

                        </div>

                        <div class="col-md-4">
                            
                            <h3>&nbsp</h3>
                            <div><strong>Số lần trả lời đúng: </strong> <$ question.no_times_corrected $></div>

                            <div><strong>Số lần trả lời sai: </strong> <$ question.no_times_incorrected $></div>

                            <div><strong>Số lần được đưa vào đề thi: </strong> <$ question.no_times_unattempted $></div>
                        </div>	    	                         
                         
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary" href="question/<$ question._id $>/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" href="question/<$ question._id $>">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
  					</div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Đáp án</h3>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th> Câu trả lời</th>
                                    <!-- <th>Đáp án nối</th> -->
                                    <th style="width: 100px">Đán án đúng</th>
                                </tr>
                                <% asyncEach item in options %>
                                <tr>
                                    <td><$ item.name $></td>
                                    <!-- <td><$ item.name_match $></td> -->
                                    <% if not item.score %>
                                    <td><span class="badge bg-red">Sai</span></td>
                                    <% else %>
                                    <td><span class="badge bg-green">Đúng</span></td>
                                    <% endif %>
                                </tr>
                                <% endeach %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<% endblock %>