<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;" data-ng-controller="AuthController">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <% if credentials.uid %>
            <ul class="sidebar-menu">
                <li class="header">NAVIGATION</li>
                <% if credentials.scope == 'user' or credentials.scope[1] == 'user' %>
                    <!-- <li><a href="/groups"><i class="fa fa-book"></i> <span>Danh sách Groups</span></a></li> -->
                    <li><a href="/groups"><i class="fa fa-book"></i> <span>Danh sách nhóm</span></a></li>
                    <li><a href="/subjects"><i class="fa fa-book"></i> <span>Danh sách môn học</span></a></li>
                    <li><a href="/chapters"><i class="fa fa-book"></i> <span>Danh sách danh mục</span></a></li>
                    <li><a href="/quizzes"><i class="fa fa-book"></i> <span>Danh sách đề thi</span></a></li>
                    <li><a href="/questions"><i class="fa fa-book"></i> <span>Ngân hàng câu hỏi</span></a></li>
                    <!--<li><a href="/quiz-questions"><i class="fa fa-book"></i> <span>Danh sách Quiz & Question</span></a></li>-->
                    <li><a href="/anwsers"><i class="fa fa-book"></i> <span>Danh sách bài thi</span></a></li>
                    <li><a href="/results"><i class="fa fa-book"></i> <span>Danh sách điểm</span></a></li>
                <% elseif credentials.scope == 'guest' %>
                    <li><a href="/subjects"><i class="fa fa-book"></i> <span>Danh sách môn học</span></a></li>
                    <li><a href="/quizzes/list-quizzes-by-student"><i class="fa fa-book"></i> <span>Danh sách đề thi</span></a></li>
                    <li><a href="/anwsers"><i class="fa fa-book"></i> <span>Xem bài thi</span></a></li>
                    <li><a href="/results"><i class="fa fa-book"></i> <span>Xem kết quả</span></a></li>
                    <!-- <li><a href="#"><i class="fa fa-book"></i> <span>Payment History</span></a></li> -->
                <% endif %>
            </ul>
        <% else %>
            <ul class="sidebar-menu">
                <li class="header">NAVIGATION</li>
                <li class="treeview"><a href="/"><i class="fa fa-book"></i><span>Trang chủ</span></a></li>
                <li class="treeview"><a href="/posts"><i class="fa fa-book"></i><span>Tin tức</span></a></li>
                <li class="treeview"><a href="/contact"><i class="fa fa-book"></i><span>Liên hệ</span></a></li>
            </ul>
        <% endif %>
    </section>
</aside>
